body {
    background-color: #e6e6e6;
}

/*Left side sex percent*/
.PrimaryCalcL {
    background-color: #fff;
    width: 47.5%;
    margin-left: 2.5%;
    font-size: 18px;
    float: left;
}

/*Right side error */ 
.PrimaryCalcR {
    background-color: #fff;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 18px;
    float: left;
}

/*Center CI */ 
.SecondaryCalc {
    background-color: #fff;
    width: 50%;
    font-size: 18px;
    float: left;
    margin-top: 20px;
    margin-left: 25%;
}

#CISelect {
    width: 60px;
}

.TertiaryCalcL {
    background-color: #fff;
    width: 47.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    font-size: 18px;
    float: left;
}

.TertiaryCalcR {
    background-color: #fff;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
    font-size: 18px;
    float: left;
}

.button {
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

    .button:active {
        transform: translateY(2px);
    }

.buttonCalc {
    background-color: white;
    padding: 10px 25px;
    color: black;
    border: 2px solid #1ab394;
    /* Yellow */
    -webkit-transition-duration: 0.1s;
    /* Safari */
    transition-duration: 0.1s;
}

    .buttonCalc:hover {
        background-color: #1ab394;
        /*Yellow*/
        color: white;
    }

.buttonR {
    background-color: white;
    padding: 5px 25px;
    color: black;
    border: 2px solid #1ab394;
    /* Yellow */
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

    .buttonR:hover {
        background-color: #1ab394;
        /*Yellow*/
        color: white;
    }